<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Todo List</title>
    <!-- bulma docs: http://bulma.io/documentation/overview/start/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app" class="container">

      <div class="column is-half is-offset-one-quarter content">

        <section>
          <div class="card" v-for="card in cards">
            <div class="card-header">
              <p class="card-header-title">{{ card.title }}</p>
            </div>
            <div class="card-content">
              <p>{{ card.content }}</p>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item">Edit</a>
              <a class="card-footer-item" v-on:click="remove(card)">Done</a>
            </footer>
          </div>
        </section>

        <section>
          <label class="label">New Todo</label>
          <div class="control is-grouped">
            <div class="control is-expanded">
              <input type="text" class="input" placeholder="Todo Item Title" v-model="titleInput"/>
            </div>
            <div class="control" v-on:click="newCard()">
              <a class="button is-primary">Create</a>
            </div>
          </div>
          <div class="control">
            <textarea class="textarea" placeholder="Todo item content" v-model="contentInput"></textarea>
          </div>
          <div class="control">
            <!-- this should only be visible if we are editing -->
            <a class="button" v-on:click="cancel()">Cancel</a>
          </div>
        </section>

      </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
